<!doctype html>

<html>

<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/myJS.js"></script>
	<link rel="stylesheet" href="css/myCSS.css">
</head>

<body data-ng-app="myToDoApp">
	
	<div class="container" data-ng-controller="myToDoListController">

		<!-- adding new names to our array -->
		Name: <input type="text" data-ng-model="newTask.task" />
		<br/>
		Description: <input type="text" data-ng-model="newTask.description" />
		<br/>
		<button data-ng-click="addNewTask()">Add Task</button>
		
		<!--
		<button data-ng-click="deleteCompletedTasks($index)">Delete Tasks</button>
		-->
		
		<!-- creating a filter to search our array -->
		<!-- 
		<input type="text" data-ng-model="searchName">{{searchName}}
		-->
		<ul>
			<!-- | lowercase and |uppercase are examples of filters -->
			<!-- filter: searchName is our own filter -->
			<li data-ng-repeat="currentTask in todoList" class="done-{{currentTask.done}}">{{currentTask.task}} - {{currentTask.description}}<input type="checkbox" data-ng-model="currentTask.done"></li>
		</ul>
	</div>
	
	
</body>

</html>